<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-3 mt-3" *ngFor="let cd of decoData">
            <div class="carbox mt-3 mb-3">
                <img src="{{cd.decoImage}}">
                <!-- <h1>{{cd. carName}}</h1>
                <h1>{{cd.carBrand}}</h1>
                <p>{{cd.carPrice }}</p> -->
                <br><br>
                <a class="bookbtn" [routerLink]="['/menud', cd.id]">Book Now <i class="bi bi-geo-alt"></i></a>
            </div>
        </div>


    </div>

</div>