<br>
<!-- Description -->
<div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="trip-ad-content"> 
    <div class="ad-title">
    <h2>About us <span>Amka-na-Mwanamke</span></h2>
    </div>
    <p>WELCOME TO Amka-na-Mwanamke&nbsp;&nbsp;&nbsp;is dedicated to deliver services in Zanzibar "the spice islands", Tanzania mainland, Kenya and Uganda.&nbsp;Our multilingual and long experience team in both tourism and hospitality industry is capable of assisting you arranging your memorable holidays. We speak fluently English, French, German,&n
        Also, today we gonna tell you about the zanzibar swahili culture Learn some swahili words with Community Tour. We are going to teach you some basic swahili words
    </p>
    
    </div>
    </div>
    <div class="col-lg-6">
        <div class="sportbox">
            <img src="../../../assets/ce8858a7f8ba9d163c21985387d94df8.jpg">
        </div>
    </div>
    </div>
    </div>
    <br>