<div class="banner">
    <div class="content">
    <h1 class="mb-5">Enjoy Your <br> 
    Journey with
    <br>Our <a>Comfortable Traditions</a></h1>
    <a routerLink="/menu" class="book">Book Now<i class="bi bi-arrow-right"></i></a>
</div>
</div>
<!--  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to get <span class="highlight">Comfortable traditional</span></h1>
    <div class="row mt-5">
        <!-- 1 -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>Step 1</h1>
            <p>Select traditional&nbsp;&nbsp;<span><i class="bi bi-box2-heart"></i></span></p>
        </div>
        </div>
        <!-- 2 -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>Step 2</h1>
            <p>Fill the details&nbsp;&nbsp;<span><i class="bi bi-ticket-detailed"></i></span></p>
            </div>
        </div>
        <!-- 3 -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>Step 3</h1>
            <p>Your order delivered in minute&nbsp;&nbsp;<span><i class="bi bi-envelope-check"></i></span></p>
            </div>
        </div>
    </div>
</div>
<!-- food -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">ZANZIBAR <span style="color:red;font-weight:bold; font-style:italic">FOODS</span>  </h1>
    <div class="row">
        <div class="col-lg-4 mt-3">
       
            <div class="tourbox" >
                <img src="../../../assets/IMG-20220930-WA0017.jpg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
         
        </div>
        <div class="col-lg-4 mt-3">
            <div class="tourbox" >
                <img src="../../../assets/IMG-20220926-WA0075.jpg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
        </div>
        <div class="col-lg-4 mt-3">
            <div class="tourbox" >
                <img src="../../../assets/images (1).jpg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
        </div>
    </div>
    <a routerLink="/menuf" class="viewmorebtn">View more</a>
</div>
<!-- decoration -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">ZANZIBAR <span style="color:red;font-weight:bold; font-style:italic">DECORATIONS</span>  </h1>
    <div class="row">
        <div class="col-lg-4 mt-3">
       
            <div class="tourbox" >
                <img src="../../../assets/images (10).jpeg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
         
        </div>
        <div class="col-lg-4 mt-3">
       
            <div class="tourbox" >
                <img src="../../../assets/eef243fe193bd2049f34697aa4d952b7.jpg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
         
        </div>
        <div class="col-lg-4 mt-3">
       
            <div class="tourbox" >
                <img src="../../../assets/ee478c5e350be5b52dd6edbc07c6ec0a.jpg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
         
        </div>
    </div>
    <a routerLink="/menud" class="viewmorebtn">View more</a>
</div>
<!-- culture -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">ZANZIBAR <span style="color:red;font-weight:bold; font-style:italic">CULTURES</span>  </h1>
    <div class="row">
        <div class="col-lg-4 mt-3">
       
            <div class="tourbox" >
                <img src="../../../assets/en-action.jpg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
         
        </div>
        <div class="col-lg-4 mt-3">
       
            <div class="tourbox" >
                <img src="../../../assets/ZUU 25.png">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
         
        </div>
        <div class="col-lg-4 mt-3">
       
            <div class="tourbox" >
                <img src="../../../assets/IMG-20220926-WA0077.jpg">
                <h1 style="color:indigo"></h1>
                <p style="color:indigo"></p>
                <h4 style="letter-spacing: 0.05em;color: grey; opacity: 0.5;"></h4>
            </div>
         
        </div>
    </div>
    <a routerLink="/menuc" class="viewmorebtn">View more</a>
</div>
<!--  -->
<!-- Description -->
<div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="trip-ad-content"> 
    <div class="ad-title">
    <h2>About us <span>Amka-na-Mwanamke</span></h2>
    </div>
    <p>WELCOME TO Amka-na-Mwanamke&nbsp;&nbsp;&nbsp;is dedicated to deliver services in Zanzibar "the spice islands", Tanzania mainland, Kenya and Uganda.&nbsp;Our multilingual and long experience team in both tourism and hospitality industry is capable of assisting you arranging your memorable holidays. We speak fluently English, French, German,&n
        Also, today we gonna tell you about the zanzibar swahili culture Learn some swahili words with Community Tour. We are going to teach you some basic swahili words
    </p>
    
    </div>
    </div>
    <div class="col-lg-6">
   
    </div>
    </div>
    </div>
<!-- about -->
<div class="container">
    <div class="section-title text-center">
    <h2>Why Choose Us</h2>
    <div class="section-icon">
     <i class="flaticon-diamond"></i>
    </div>
    <p>
        Here are reasons as to why you should choose us a million times for your memorable holidays and airport transfers.
    </p>
    </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mt_filter">
            <ul class="list-inline text-center filter">
            <li class="active"><a  data-filter=".cycling" style="color: blue;"><i class="flaticon-phone"></i><span>24/7 Support</span></a></li>
    
            <li class="active"><a  data-filter=".sailing" style="color: blue;"><i class="flaticon-wallet"></i><span>No Hidden Fees</span></a></li>
            <li class="active"><a  data-filter=".wildlife"style="color: blue;"><i class=""></i><span>Professional Service</span></a></li>
            <li class="active"><a href="#" data-filter=".family"><i class=""></i><span>Our Reputation</span></a></li>
            <li class="active"><a href="#" data-filter=". "><i class=""></i><span>Competative Price</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>